*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-grey-500: hsl(0, 0%, 41%);
	--color-grey-700: hsl(0, 0%, 21%);

	--color-blue-300: hsl(224, 78%, 87%);
	--color-blue-400: hsl(224, 78%, 77%);
	--color-blue-500: hsl(224, 78%, 67%);
	--color-blue-700: hsl(224, 78%, 47%);
	--color-blue-900: hsl(224, 78%, 27%);

	--color-yellow-300: hsl(60, 100%, 88%);
	--color-yellow-500: hsl(60, 100%, 68%);
	--color-yellow-700: hsl(60, 100%, 38%);

	--color-green-500: hsl(120, 68%, 50%);
	--color-green-700: hsl(120, 68%, 30%);

	--color-red-500: #ff0000;
}

body {
	background: var(--color-blue-900);
	font-family: 'Poppins', sans-serif;
}

.todo-container {
	background: var(--color-grey-700);
	width: 100%;
	height: 100vh;
	position: relative;
}

.container {
	position: absolute;
	inset: 0;
	margin: auto;
	background: var(--color-blue-300);
	width: 40rem;
	height: 45rem;
	margin-top: 5rem;
	padding: 1.5rem;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
	gap: 2em;
	justify-content: center;
}

.form-control {
	border: none;
	font-size: 1.25rem;
	width: 40ch;
	padding: 0.1em;
	padding-left: 0.2em;
}

.btn {
	border: none;
	font-size: 1.25rem;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
	background: none;
}

.btn:hover {
	cursor: pointer;
}

.submit-btn {
	background: var(--color-green-500);
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
	background: var(--color-green-700);
	color: white;
}

.todo-item-list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;
}

.todo-item {
	background: var(--color-blue-400);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	border-radius: 0.5em;
}

.todo-item:hover {
	cursor: pointer;
}

.completed > h3 {
	text-decoration: line-through;
	color: var(--color-grey-500) !important;
}

.todo-btns {
	display: flex;
	gap: 1em;
}

.edit-btn {
	border: 0.2em solid var(--color-yellow-500);
	color: var(--color-yellow-500);
	font-size: 1rem;
	padding: 0.1em 0.5em;
}

.edit-btn:hover,
.edit-btn:active,
.edit-btn:focus {
	background: var(--color-yellow-500);
	color: black;
}

.delete-btn {
	border: 0.2em solid var(--color-red-500);
	color: var(--color-red-500);
	font-size: 1rem;
	padding: 0.1em 0.5em;
}

.delete-btn:hover,
.delete-btn:active,
.delete-btn:focus {
	background: var(--color-red-500);
	color: black;
}
